@model List<diag_logement_fichiers>

@using PortailsOpacBase.Portails.Diagnostique.Models

<table id="table_fichiers" class="table table-striped">
    <thead>
        <tr class="info">
            <th>GBAL</th>
            <th>Type fichier</th>
            <th>Nom fichier</th>
            <th>Num rapport</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(diag_logement_fichiers l in Model)
        {
        <tr data-good="@((String.IsNullOrEmpty(l.nom_fichier) ? "Non" : "Oui"))">
            <td>@l.gbal</td>
            <td>@l.type_fichier</td>
            <td>@((String.IsNullOrEmpty(l.nom_fichier) ? "Choisissez un fichier ->" : l.nom_fichier))</td>
            <td>@l.numrapport</td>
            <td><button class="btn btn-success btn-xs selectfilelogement" data-gbal="@l.gbal" data-id="@l.id">Choisir le fichier</button></td>
            <td style="text-align:right"><span class="delfichierlogement glyphicon glyphicon-trash" data-id="@l.id" data-ajout="@l.ajout" /></td>
        </tr>
        }
    </tbody>
</table>